*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header {
    height: 100px;
    width: 210vh;
    background: rgb(0,190,228);
    background: linear-gradient(90deg, rgba(0,190,228,1) 25%, rgba(0,190,228,1) 35%, rgba(0,190,228,1) 45%, rgba(0,190,228,1) 55%, rgba(0,135,162,1) 66%, rgba(0,42,51,1) 82%);
    display: flex;
    position: fixed;
}
header ul li {
        margin: 35px 35px;
        list-style: none;
        display: flex;
        text-decoration: none;
}
header ul li a:hover {
    transition: 0.77s;
    color:#232323;
}
header ul{
    list-style: none;
    margin: 1vh 35vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
header p {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 11%;
    margin-top: 1vh;
    margin-left: 1vh;
}
header ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    margin: 0vh 5vh 2vh -4vh;
}
.text {
    padding: 15vh 2vh 4vh 3vh;
}
.text1 {
    padding: 1vh 10vh 5vh 10vh;
}
h3 {
    padding: 3vh;
}
.text2 {
    padding: 2vh 10vh 1.5vh 10vh;
}
.spot {
    padding: 1vh 40vh;
}
.spot1 {
    padding: 0vh 10vh;
}