.img1 {
    display:inline;
    margin-top: 2vh;
    margin-left: 63vh;
    color: white;
}
.img2 {
    display:inline;
    margin-top: 2vh;
    margin-left: 30vh;
}
.img3 {
    display:inline;
    margin-top: 2vh;
    margin-left: 10vh;
}
.video1 {
    display: inline;
    margin-top: 2vh;
    margin-left: 20vh;
    margin-right: 15vh;
}
.video2 {
    display: inline;
    margin-top: 2vh;
}